/* creat by chenpeng */
@import "src/sass/tobe/function";

.fix-box{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}
.fix-height{
  height: rem(88);
  &.no-slides{
    height: rem(88 + 200);
  }
}
.collection-tab{
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  height: rem(88);
  .flex-item{
    border-bottom: rem(4) solid transparent;
    border-top: rem(4) solid transparent;
    font-size: rem(28);
    font-weight: bold;
    &.is-selected{
      color: #e31a41;
      border-bottom: rem(4) solid #e31a41;
    }
  }
}

.goods-box{
  padding: rem(20);
  .goods-item{
    background-color: #fff;
    margin-bottom: rem(8);
    padding: rem(24);
    border-radius: rem(8);
    border: 1px solid #e9e9e9;
  }
  .goods-img{
    width: rem(200);
    margin-right: rem(50);
  }
  .goods-title{
    height: rem(100);
    font-size: rem(28);
    color: #313131;
    @include clamp;
  }
  .goods-price{
    color: #e31a41;
    font-size: rem(40);
    span{
      font-size: rem(24);
      margin-right: rem(5);
    }
  }
}

.goods-btn-group{
  margin-top: rem(20);
  text-align: right;
}
.small.outlineMain{
  line-height: rem(54);
  padding: 0 rem(20);
}

.goods-no{
  text-align: center;
  width: 80%;
  margin: 35% auto;
  .no-text{
    font-size: rem(32);
    color: #606060;
  }
  .no-des{
    font-size: rem(28);
    color: #a6a6a6;
    margin: rem(10) 0 rem(26);
  }
  .outlineMain{
    font-size: rem(28);
    line-height: rem(60);
    padding: 0 rem(50);
    background-color: transparent;
  }
}

.bl-button-inline.outlineMain.disabled-color{
  color: #494949;
  border: 1px solid #a9a9a9;
}
