@charset "utf-8";
@import "src/sass/tobe/function";
.vue-calendar-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 60;
}
.vue-calendar{
  .closeCalendar{
    position: fixed;
    top:85%;
    z-index: 89;
    left: 50%;
    width: rem(90);
    margin-left: rem(-45);
  }
}
.vue-calendar-content {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: rem(710);
    height: rem(780);
    border-radius: rem(10);
    left: 50%;
    margin-left: rem(-355);
    top:50%;
    margin-top:rem(-390);
    overflow: hidden;
    z-index: 1000;
    font-size: 0.3rem;
    #scrollPanelWrapper{
        position: relative;
        top: 0;
    }
    .vue-calendar-content-title-wrapper {
        background: #fff;
        z-index: 1003;
        height: rem(170);
        line-height: rem(170);
        position: relative;
        .premonth {
            float: left;
            padding-left: rem(65);
            color: #666;
            font-size: rem(40);
        }
        .curmonth {
          position: absolute;
          width: rem(150);
          text-align: center;
          left: 50%;
          margin-left: rem(-70);
          color: #333;
          font-size: rem(40);
        }
        .nextmonth {
          position: absolute;
          width: rem(150);
          text-align: center;
          right: rem(30);
          color: #333;
          font-size: rem(40);
        }
        .curyear{
          position: absolute;
          top:rem(45);
          left:50%;
          width: rem(100);
          text-align: center;
          margin-left: rem(-50);
          color:#666;
          font-size: rem(24);
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          //border-bottom: rem(1) solid #d9d9d9;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
    }
    .month-bar-fixed {
        overflow: visible;
        text-align: center;
        height: 0.6rem;
        line-height: 0.6rem;
        width: 100%;
        position: fixed;;
        top: 1.5rem;
        background: #fafafa;
        z-index: 1000;

        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          //border-bottom: rem(1) solid #d9d9d9;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
    }
    .week-bar {
        height: 0.6rem;
        line-height: 0.6rem;
        position: relative;
        background: #fff;
        z-index: 1001;
        font-size: rem(24);
        color:#999;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          //border-bottom: rem(1) solid #d9d9d9;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
        ul {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            li {
                color: #666666;
                -webkit-flex: auto;
                -ms-flex: auto;
                -webkit-box-flex: 1;
                flex: auto;
                list-style: none;
                text-align: center;
            }
        }
    }
    .vue-calendar-date-wrapper {
        margin-top:rem(20);
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        overflow: auto;
        position: relative;
        -webkit-transform:translate3d(0,0,0);
        // margin-top: -0.6rem;
        .month-bar {
            text-align: center;
            height: 0.6rem;
            line-height: 0.6rem;
            width: 100%;
            position: relative;
            background: #fafafa;
            &:before {
                // .one-px-line-top;
            }
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              border-bottom: rem(1) solid #d9d9d9;
              -webkit-transform: scaleY(.5);
              transform: scaleY(.5);
              -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
            }
        }
        // .first-month-bar{
        //     visibility: hidden;
        // }
        // .first-month-bar {
        //     position: fixed;
        //     top: 1.5rem;
        //     z-index: 100;
        // }
        .month-list {
            ul li {
                list-style: none;
            }
            ul {
                overflow: hidden;
                padding-bottom: rem(30);
            }
            li {
                display: inline-block;
                // float: left;
                width: 14.286%;
                //border-bottom: 1px solid #eee;
                text-align: center;
                position: relative;
                height: rem(80);
                line-height: rem(80);
                color: #333333;
                .dd {
                    position: relative;
                    display: inline-block;
                    font-size: rem(30);
                    width: rem(56);
                    height: rem(56);
                    line-height: rem(60);
                    &.signed{
                      background: #ddd;
                      border-radius: rem(60);
                    }
                    //height: rem(56);
                    &.selected {
                      &-hasLottery, &-lotteryDay{
                        i:after {
                          border-radius: rem(10);
                          bottom:rem(4);
                          position: absolute;
                          content: '.';
                          left:rem(25);
                          width: rem(5);
                          height: rem(5);
                          background: #666;
                        }
                      }
                      &-is-today{
                        i:after {
                          border-radius: rem(10);
                          bottom:rem(4);
                          position: absolute;
                          content: '.';
                          width: rem(5);
                          height: rem(5);
                          left:rem(25);
                          background: #d0111a;
                        }
                      }
                    }
                }
                &.disabled {
                    color: #a2a2a2;
                }
                &:after {
                    // .one-px-line;
                }
                &.without-text {
                    i {
                        &:after {
                            content: ''!important;
                        }
                    }
                }
                &.is-holiday {
                    .holiday {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        bottom: 0;
                        &:before {
                            width: 0;
                            height: 0;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-bottom: 0.35rem solid #cccccc;
                            border-left: 0.35rem solid transparent;
                        }
                        &:after {
                            content: '假';
                            position: absolute;
                            bottom: 0.02rem;
                            right: 0.02rem;
                            font-size: 0.16rem;
                            color: #fff;
                            line-height: 0.2rem;
                        }
                    }
                }
                &.is-work {
                    .holiday {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        bottom: 0;
                        &:before {
                            width: 0;
                            height: 0;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-bottom: 0.35rem solid #fa967f;
                            border-left: 0.35rem solid transparent;
                        }
                        &:after {
                            content: '班';
                            position: absolute;
                            bottom: 0.02rem;
                            right: 0.02rem;
                            font-size: 0.16rem;
                            color: #fff;
                            line-height: 0.2rem;
                        }
                    }
                }
                &.border-radius {
                    border-radius: 0.06rem!important;
                }
                &.selected {
                    &-start {
                        border-bottom: none;
                        border-radius: 0.06rem 0 0 0.06rem;
                        i:after {
                            content: '入住';
                        }
                    }
                    &-tips-hasLottery {
                      border-bottom: none;
                      border-radius: 0.06rem 0 0 0.06rem;
                      i:after {
                        position: absolute;
                        bottom:rem(-50);
                        left: rem(18);
                        font-size: rem(20);
                        content: '已抽奖';
                      }
                    }
                    &-tips-hasLottery2 {
                      i:after {
                        bottom:rem(-40);
                      }
                    }
                    &-tips-lottery-day{
                      border-bottom: none;
                      border-radius: 0.06rem 0 0 0.06rem;
                      i:after {
                        position: absolute;
                        bottom:rem(-35);
                        left: rem(18);
                        font-size: rem(20);
                        content: '抽奖日';
                      }
                    }
                    &-tips-lottery-day2{
                      i:after {
                        bottom:rem(-50);
                      }
                    }
                    &-is-today{
                       border-bottom: none;
                       border-radius: 0.06rem 0 0 0.06rem;
                       i:after {
                         position: absolute;
                         bottom:rem(-40);
                         left: rem(28);
                         font-size: rem(20);
                         color:#d0111a;
                         content: '今日';
                       }
                     }
                    &-is-today2{
                      i:after {
                        bottom:rem(-50);
                      }
                    }
                    &-end {
                        border-bottom: none;
                        border-radius: 0 0.06rem 0.06rem 0;
                        i:after {
                            content: '离店';
                        }
                    }
                    &-start,
                    &-end {
                        border-top: 0.01rem solid #2eb6a8;
                        border-bottom: 0.01rem solid #2eb6a8;
                        height: 1rem!important;
                        line-height: 1rem!important;
                        color: #fff;
                        background: #2eb6a8;
                        i:after {
                            position: absolute;
                            top: 0.2rem;
                            left: 0;
                            font-size: 0.24rem;
                            font-style: normal;
                            text-align: center;
                            width: 100%;
                        }

                    }
                    &-start.is-holiday ,&-end.is-holiday{
                        .holiday{
                            &:before{
                                 width: 0;
                            height: 0;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-bottom: 0.35rem solid #fff;
                            border-left: 0.35rem solid transparent;
                            }
                            &:after{
                                color: #fa967f;
                            }
                        }
                    }
                    &-line {
                        background: #e0f4f2;
                        color: #333;
                        // border-top: 0.01rem solid #2eb6a8;
                        height: 1rem!important;
                        line-height: 1rem!important;
                        // border-bottom: 0.01rem solid #2eb6a8;
                        &:after {
                          content: "";
                          position: absolute;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          //border-bottom: rem(1) solid #d9d9d9;
                          -webkit-transform: scaleY(.5);
                          transform: scaleY(.5);
                          -webkit-transform-origin: 0 0;
                          transform-origin: 0 0;
                        }
                        &:before {
                          content: "";
                          position: absolute;
                          top: 0;
                          left: 0;
                          right: 0;
                          //border-bottom: 1px solid #d9d9d9;
                          -webkit-transform: scaleY(.5);
                          transform: scaleY(.5);
                          -webkit-transform-origin: 0 0;
                          transform-origin: 0 0;
                        }
                    }
                }
            }
        }
    }
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .8s ease;
  z-index: 5000;
}
.slide-fade-leave-active {
  transition: all .8s;
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateY(-2000px);
  opacity: 0;
  z-index: 4000;
}
