/* creat by chenpeng */
@import "tobe/function";

.coupon-scroll{
  background-color: #eee;
}

.header-class {
  line-height: rem(88);
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  .header-item {
    font-size: rem(28);
    color: #666666;
    padding: 0 rem(20);
    display: inline-block;
    position: relative;
    min-width: rem(140);
    text-align: center;
    vertical-align: top;
    &.is-selected{
      color: #e6133c;
    }
  }
}

/* 券样式 */
.discount-ul {
  padding: 0 rem(20);
  ul li {
    margin-top: rem(20);
    border-radius: rem(8);
    position: relative;
    height: rem(260);
    color: #fff;
    border: transparent;
    z-index: 2;
    .i-top {
      position: absolute;
      left: 45%;
      top: rem(-22);
      width: rem(40);
      height: rem(40);
      display: inline-block;
      border-radius: 50%;
      background: #eee;
      margin-left: rem(-20);
      z-index: 3;
    }
    .i-bottom {
      position: absolute;
      left: 45%;
      bottom: rem(-22);
      width: rem(40);
      height: rem(40);
      display: inline-block;
      border-radius: 50%;
      background: #eee;
      margin-left: rem(-20);
      z-index: 3;
    }
    &:after {
      display: block;
      content: " ";
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  /* 券状态 */
  .coupon-status{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: rem(90);
    height: rem(90);
    &:after{
      content: attr(attr-status);
      font-size: rem(22);
      display: block;
      padding-top: rem(7);
    }
    &.empty{
      &:after{
        color: #f77362;
        transform: rotate(-45deg);
      }
      background: url('../assets/coupon/diyong-statusbg.png') no-repeat;
      background-size: contain;
    }
    &.received{
      &:after{
        color: #48a5ed;
        transform: rotate(-45deg);
      }
      background: url('../assets/coupon/parking-statusbg.png') no-repeat;
      background-size: contain;
    }
  }
  .getCoupon{
    width:rem(600);
    position:relative;
    margin:0 auto;
    height:rem(70);
    text-align:center;
    color:#fff;
    background:#ec5743;
    border-radius: rem(8);
    line-height:rem(70);
    font-size:rem(32);
    margin-top:rem(70);
  }
  .getTips{
    width:rem(600);
    position:relative;
    margin:0 auto;
    text-align:center;
    margin-top:rem(70);
  }
  .getTips div{
    margin-top:rem(20);
    text-align:center;
  }
  .getTips div:first-child{
    font-size:rem(32);
  }
  .getTips div:nth-child(2){
    font-size:rem(28);
    color:#666;
  }
  .getTips div:nth-child(3){
    font-size:rem(28);
    color:#666;
  }
}
.discount-itemicon {
  position: absolute;
  right: rem(-88);
  top: rem(-55);
  width: rem(200);
  height: rem(134);
  box-shadow: 0 0 rem(8) #666666;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  font-size: rem(20);
  color: #ffffff;
  text-align: center;
  padding-top: rem(90);
}

.discount-item-left {
  float: left;
  width: 45%;
  padding: rem(24) 0;
  text-align: center;
  white-space: nowrap;
}

.discount-item-right {
  float: right;
  width: 55%;
  padding: rem(40) 0 rem(40) rem(30);
  border-top-right-radius: rem(8);
  overflow: hidden;
  position: relative;
}

.discount-item-left-info {
  display: inline-block;
}

.money-int {
  float: left;
  font-size: rem(120);
  font-family: Impact, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 0;
  line-height: rem(160);
}

.money-info {
  padding: rem(24) 0;
  text-align: left;
  float: left;
  margin-left: rem(10);
}

.money-info-element {
  line-height: rem(56);
  font-size: rem(48);
}

.money-info-coupon {
  line-height: rem(56);
  font-size: rem(30);
}

.coupon-time {
  font-size: rem(24);
  margin-top: rem(-20);
}

.coupon-name {
  line-height: rem(42);
  font-size: rem(28);
  height: rem(126);
}

.coupon-name span {
  font-size: rem(32);
}

.coupon-button button {
  height: rem(52);
  border-radius: rem(4);
  width: rem(140);
  float: left;
  margin-right: rem(20);
  outline: none;
  padding: 0;
}


/* 现金券 */

.discount-ul ul li.no-1 {
  background: #ffbe71 url("../assets/coupon/discount-bg-1.png") repeat-y 45% center;
}

.no-1 button {
  border: 1px solid #ff9c26;
  background: #ff9c26;
  color: #FFF;
}

.no-1 .coupon-button button.but-1 {
  border: 1px solid #ff9c26;
  background: #fff;
  color: #ff9c26;
}

.no-1 .coupon-time {
  color: #ffedd8;
}

.discount-ul ul li.no-1 .discount-itemicon {
  background: #ff9c26;
}

/* 2 */

.discount-ul ul li.no-2 {
  background: #fba89d url("../assets/coupon/discount-bg-2.png") repeat-y 45% center;
}

.no-2 button {
  border: 1px solid #f77362;
  background: #f77362;
  color: #FFF;
}

.no-2 .coupon-button button.but-1 {
  border: 1px solid #f77362;
  background: #fff;
  color: #f77362;
}

.no-2 .coupon-time {
  color: #ffdeda;
}

.discount-ul ul li.no-2 .discount-itemicon {
  background: #f77362;
}


/**/

.discount-ul ul li.no-3 {
  background: #71c1ff url("../assets/coupon/discount-bg-3.png") repeat-y 45% center;
}

.no-3 button {
  border: 1px solid #48a5ed;
  background: #48a5ed;
  color: #FFF;
}

.no-3 .coupon-button button.but-1 {
  border: 1px solid #48a5ed;
  background: #fff;
  color: #48a5ed;
}

.no-3 .coupon-time {
  color: #c8e7ff;
}

.discount-ul ul li.no-3 .discount-itemicon {
  background: #48a5ed;
}

.no-3 .money-int {
  float: left;
  font-size: rem(130);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 0;
  line-height: rem(160);
}

.no-3 .money-info{
  margin-left: 0;
}

.no-3 .money-info-element {
  font-size: rem(36);
  font-family: Arial, Helvetica, sans-serif;
  line-height: rem(48);
}

.no-3 .money-info-coupon {
  line-height: rem(60);
  font-size: rem(60);
}


/**/

.discount-ul ul li.no-4 {
  background: #9f92ff url("../assets/coupon/discount-bg-4.png") repeat-y 45% center;
}

.no-4 button {
  border: 1px solid #9747e9;
  background: #9747e9;
  color: #FFF;
}

.no-4 .coupon-button button.but-1 {
  border: 1px solid #9747e9;
  background: #fff;
  color: #9747e9;
}

.no-4 .coupon-time {
  color: #c8e7ff;
}

.discount-ul ul li.no-4 .discount-itemicon {
  background: #9747e9;
}

.no-4 .money-int {
  float: left;
  font-size: rem(130);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 0;
  line-height: rem(160);
}

.no-4 .money-info-element {
  font-size: rem(36);
  font-family: Arial, Helvetica, sans-serif;
  line-height: rem(48);
}

.no-4 .money-info-coupon {
  line-height: rem(60);
  font-size: rem(60);
}


/**/

.discount-ul ul li.no-5 {
  background: #b3d986 url("../assets/coupon/discount-bg-5.png") repeat-y 45% center;
}

.no-5 button {
  border: 1px solid #90be59;
  background: #90be59;
  color: #FFF;
}

.no-5 .coupon-button button.but-1 {
  border: 1px solid #90be59;
  background: #fff;
  color: #90be59;
}

.no-5 .coupon-time {
  color: #e5ffc6;
}

.discount-ul ul li.no-5 .discount-itemicon {
  background: #90be59;
}

.no-5 .money-int {
  float: left;
  font-size: rem(130);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 0;
  line-height: rem(160);
}

.no-5 .money-info-element {
  font-size: rem(36);
  font-family: Arial, Helvetica, sans-serif;
  line-height: rem(48);
}

.no-5 .money-info-coupon {
  line-height: rem(60);
  font-size: rem(60);
}

