/* creat by chenpeng */
@import "tobe/function";
.flash-sales{
  background-color: #f7f7f7;
}

/* 分类 */

.flash-ovfs {
  .ovfs-item {
    padding: rem(20) 0;
    position: relative;
    font-size: rem(24);
    width: rem(160);
    text-align: center;
    &.active p:after {
      background-color: #6D4433;
    }
    &.active p{
      color: #6D4433;
      font-weight: bold;
    }
    p {
      display: inline-block;
      position: relative;
      line-height: 2;
      &:after {
        content: '';
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: auto;
        background-color: transparent;
      }
    }
  }
}


/* 闪购商品列表 */

.todynew {
  margin-top: rem(20);
  .title-todynew {
    height: rem(88);
    background: #ffffff;
    padding: 0 rem(281);
    div {
      border-bottom: 1px solid #6D4433;
      height: rem(44);
      text-align: center;
      span {
        line-height: rem(88);
        text-align: center;
        background: #fff;
        padding: 0 rem(10);
        font-size: rem(28);
        color: #6D4433;
      }
    }
  }
  .todynew-img {
    width: 100%;
    position: relative;
    a {
      img {
        // height: rem(454);
        position: relative;
      }
    }
    .small-bg {
      width: rem(176);
      height: rem(176);
      position: absolute;
      top: 0;
      left: 0;
      background-size: rem(176);
      z-index: 9999;
      img {
        width: 100%;
        background-size: rem(176);
      }
    }
    .jian {
      position: absolute;
      left: 0;
      width: 100%;
      background: #000;
      background-color: rgba(171, 171, 171, 0.8);
      bottom: 0;
      padding: 0 rem(15);
      // line-height: rem(40);
      display: block;
      span {
        font-size: rem(20);
        color: #fff;
      }
    }
    .juan .jj img {
      width: rem(38);
      height: rem(24);
      display: inline-block;
      background-size: rem(38) rem(24);
      margin-left: rem(20);
    }
  }
  .todynew-img {
    .bottom-todynew {
      .le2-fonts {
        display: inline-block;
        font-size: rem(24);
      }
    }
  }
  .bottom-todynew {
    height: rem(90);
    line-height: rem(90);
    background: #fff;
    padding: 0 rem(20) 0 rem(18);
    .le-fonts {
      float: left;
      width: rem(115);
      background-size: rem(115) rem(41);
      margin: 0 rem(23) 0 0;
      img{
        height: rem(31.14*2);
        border: 0;
      }
    }
    .dd-fonts {
      display: inline-block;
      font-size: rem(24);
      .le2-fonts {
        float: left;
        color: #333333;
      }
      .tian-number {
        display: inline-block;
        line-height: rem(30);
        border-left: 1px solid #cccccc;
        padding-left: rem(10);
        margin-left: rem(10);
        color: #666666;
      }
    }
    .ri-fonts {
      float: right;
      font-size: rem(24);
      color: #333333;
      span {
        color: #C18800;
        font-size: rem(40);
        font-weight: bold;
      }
    }
  }
}

.bot-shangou {
  width: 100%;
  height: rem(121);
  text-align: center;
  .title-todynew {
    margin-top: rem(20);
    padding: 0 rem(281) rem(20) rem(281);
    div {
      border-bottom: 1px solid #6D4433;
      height: rem(44);
      text-align: center;
      span {
        line-height: rem(88);
        text-align: center;
        background: #f7f7f7;
        padding: 0 rem(10);
        font-size: rem(24);
        color: #999999;
      }
    }
  }
  .bot-fonts {
    font-size: rem(20);
    color: #c7c7c7;
  }
}

.todynew2 {
  padding: 0 rem(273) rem(20) rem(273) !important;
  div {
    border-bottom: 1px solid #999999 !important;
    span {
      color: #999999 !important;
    }
  }
}

//倒计时
.todynew-img .D {
  line-height: rem(64);
  color: #ffffff;
  position: absolute;
  bottom: rem(180);
  left: 50%;
  white-space: nowrap;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.todynew-img .D:before,
.todynew-img .D:after {
  content: '';
  height: 100%;
  width: rem(72);
  position: absolute;
  background-size: contain;
  border-top: rem(2) solid #ffffff;
  margin-left: rem(-36);
}

.todynew-img .D:before {
  left: 50%;
}

.todynew-img .D:after {
  left: 50%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

//mengcen
.todynew-img {
  .wumengcen {
    position: relative;
    a{
      display: block;
      img{
        height: rem(227*2);
      }
    }
  }
  .mengcen {
    position: relative;
  }
  .mengcen-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  }
}
.no-flash-list{
  text-align: center;
  margin-top: rem(20);
}
