/* creat by chenpeng */
@charset "utf-8";
@import "tobe/function";

.floor-head{
  padding-top: rem(88);
}
.floor-head-ul{
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  li{
    @include flex(1);
    text-align: center;
    line-height: rem(88);
    position: relative;
    &.is-selected{
      span:after{
        position: absolute;
        bottom: rem(-8);
        left: 0;
        right: 0;
        height: 2px;
        background-color: #FFDF11;
      }
    }
    &:first-child:after{
      position: absolute;
      right: 0;
      top: rem(18);
      bottom: rem(18);
      width: 1px;
      background-color: #979797;
      content: '';
    }
    span{
      font-size: rem(28);
      color: #333;
      position: relative;
      padding: 0 rem(6);
    }
    &.is-selected{
      span:after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        height: 4px;
      }
    }
  }
}

.rank-space{
  padding: rem(26) 0;
  background-color: #F7F7F7;
  text-align: center;
  font-size: rem(24);
  color: #9F9F9F;
  img{
    width: rem(405);
  }
}

.rank-list{
  li{
    margin-bottom: rem(20);
    background-color: #fff;
    .lazy.status{
      width: rem(198);
      height: rem(198);
      background-color: rgba(#333333, .7);
      font-size: rem(36);
      border-radius: 50%;
      color: #ffffff;
    }
  }
  .rank-list-con{
    padding: rem(24) rem(38);
    position: relative;
    box-shadow: 0 -3px 5px #efefef;
  }
  .list-title{
    font-size: rem(30);
    color: #333333;
  }
  .list-text{
    font-size: rem(26);
    color: #666666;
    line-height: rem(46);
    margin-top: rem(8);
  }
}

.rank-sort{
  ul{
    overflow: hidden;
    padding-bottom: rem(50);
    background-color: #fff;
  }
  li{
    float: left;
    width: 33.333%;
    text-align: center;
    margin-top: rem(64);
    .rank-sort-img{
      width: rem(174);
      height: rem(174);
      border-radius: 50%;
    }
    .sort-text{
      margin-top: rem(28);
      font-size: rem(28);
      color: #666666;
    }
  }
}
