@charset "utf-8";
/* base */
@import "tobe/base";
@import "icons";
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body,html{
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
}
#app{
  height:100%;
  min-height: 100%;
}
/* 全屏空白div */
.ant-transparent{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* flex 很重要 必须 ********** */
%display-flex {
  @include display(flex);
}
.flex{
  @extend %display-flex;
}
.flex-item{
  @include flex(1);
  width: 0;
}
.flex-c-m{
  @extend %display-flex;
  @include align-items(center);
  @include justify-content(center);
}
.flex-m{
  @extend %display-flex;
  @include align-items(center);
}
.flex-c{
  @extend %display-flex;
  @include justify-content(center);
}
.flex-space{
  @extend %display-flex;
  @include justify-content(space-between);
}
/* END */

.content {
  position: relative;
  padding-top: rem(88);
}

// preloader

%preloader {
  display: inline-block;
  width: rem(40);
  height: rem(40);
  border: rem(6) solid #e1e1e1;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-animation: preloader-spin 1s linear infinite;
  animation: preloader-spin 1s linear infinite;
  &.middle{
    width: rem(60);
    height: rem(60);
  }
  &.big{
    width: rem(90);
    height: rem(90);
  }
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  // &:after {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   content: "";
  //   background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#6c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  //   background-repeat: no-repeat;
  //   background-position: 50%;
  //   background-size: 100%;
  // }
  // &.white:after {
  //   background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='#fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='#l' opacity='.27'/><use xlink:href='#l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='#l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='#l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='#l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='#l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='#l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='#l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='#l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  // }
}

.preloader,.infinite-preloader {
  @extend %preloader;
}

@-webkit-keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ovfs-scroll 一行滑动 */
.ovfs{
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  &.hide-scrollbar::-webkit-scrollbar{
    width: 0;
    height: 0;
    display: none;
  }
  .ovfs-item{
    display: inline-block;
    position: relative;
    width: auto;
    vertical-align: top;
  }
}
.loading-bg .ant-toast{
  background: transparent !important;
}

/* 返回顶部 */
.gotop{
  @extend %gotop;
  background-image: url('./base64/bottom-top.png');
}

/* 懒加载 */
.lazy-box{
  @extend %lazy-box;
  img[lazy="loading"], img[lazy="error"] {
    width: rem(40) !important;
    padding: 0;
  }
}

.lazyload{
  position: relative;
  background-color: #fff;
  img[lazy="loading"], img[lazy="error"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: rem(40);
  }
}

