.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
.sass-cache
.git
**/.git
.idea
.idea/*
*.iml
/editor.xml
/debugger.xml
/ignore.xml
/scala.xml
/_mac/
/.idea/
/codestyles/
/databaseSettings.xml
config/index.js
Makefile