@charset "utf-8";//cp
@import "src/sass/tobe/function";
body {
    background-color: #f7f7f7;
}
// 日签
.daysign{
  .dheader{
     position: relative;
     height:rem(660);
     background: url(../i/hbg.jpg);
     background-size: cover;
     background-position: center;
    .tips {
      font-family: PingFangSC-Regular;
      position: relative;
      height: rem(120);
      top: rem(35);
      left: rem(30);
      font-size: rem(36);
      color: #333;
      line-height: rem(60);
      & :first-child {
        line-height: rem(64);
      }
    }
    .btnSign{
      position: absolute;
      width: rem(320);
      height: rem(88);
      line-height: rem(88);
      background: #333;
      border-radius: rem(100);
      font-size: rem(36);
      color:#fff;
      text-align: center;
      left: 50%;
      margin-left: rem(-160);
      top: rem(357);
    }
    .tips2{
      position: absolute;
      left: rem(30);
      top:rem(221);
      font-family: PingFangSC-Regular;
      font-size: rem(28);
      color: #666;
      letter-spacing: 0;
      line-height: rem(28);
      .dateImg{
        margin-left: rem(10);
        width: rem(39);
        height: rem(39);
      }
      &.other{
        top:rem(279)
      }
      &.other2{
        font-size: rem(24);
        letter-spacing: 0;
        top:rem(465);
        width: rem(360);
        left: 50%;
        margin-left: rem(-180);
      }
    }
    .line{
      width:rem(290);
      height: rem(2);
      position: absolute;
      left: rem(30);
      top:rem(185);
      opacity: 0.45;
      background: #999;
    }
    .menu{
      display:-webkit-box;
      display:flex;
      display:-webkit-flex;
      flex-flow:row;
      -webkit-flex-flow:row;
      justify-content:space-around;
      position: absolute;
      top:rem(513);
      width: 100%;
      li{
        box-flex:1;
        -webkit-box-flex:1;
        font-size: rem(24);
        color:#666;
        text-align: center;
        img{
          width: rem(90);
          height: rem(90);
          border-radius: 50%;
        }
      }
    }
  }
}
