@charset "utf-8";
@import "src/sass/tobe/function";
 .orderbtn {
  text-align: right
}
  .main {
    background: #efefef
  }
 .orderbtn a {
  display: inline-block;
  background: #fff;
  font-size: rem(28);
  font-weight: 400;
  padding: rem(9.6) rem(16);
  text-align: center;
  border-radius: rem(6.4);
  margin-left: rem(12);
  min-width: rem(128);
  width: auto
}

 .orderbtn a.btn-sub {
  color: #494949;
  border: 1px solid #a9a9a9
}

 .payList {
  background: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: rem(20);
  font-size: rem(28);
  overflow: hidden
}

 .main .payList:last-child {
  margin-bottom: 0
}

 .payList li {
  border-bottom: 1px solid #e9e9e9
}

 .payList li:last-child {
  border-bottom: none
}

 .payList a {
  display: block;
  padding: rem(18) rem(30);
  min-height: rem(56);
  line-height: rem(56);
  font-size: rem(28);
  color: #232323;
  overflow: hidden;
  position: relative;
}

 .payList i {
  font-size: rem(28);
  color: #aeaeae;
  font-style: normal
}

 .payList label {
  float: right;
  color: #232323;
  font-weight: 300;
  font-size: rem(28)
}

 .payList li {
  width: auto;
  text-align: left;
  margin-top: 0;
  font-size: inherit;
  float: none
}

 .payList li a img {
  width: auto;
  height: auto
}

 .payList li p {
  margin-top: 0
}

 .payPic,
 .payPic .pic {
  overflow: hidden;
  position: relative
}

 .payPic .pic {
  background: #fff;
  margin: 0;
  height: rem(160);
  width: rem(160);
  border: none;
  float: left;
  margin-right: rem(30);
  border-radius: rem(6.4);
  box-sizing: border-box;
  z-index: 1
}

 .payPic .pic img {
  height: 100%;
  width: 100%;
  border: none
}

 .payPic label {
  position: absolute;
  right: rem(30);
  top: rem(64);
  background: none;
  display: block;
  border-radius: rem(12)
}

 .orderbtn {
  padding: rem(12)
}

.payListTit2 {
  display: block;
  padding: 0 rem(30);
  min-height: rem(88);
  line-height: rem(88);
  font-size: inherit;
  color: #787878;
  overflow: hidden
}

 .payList p {
  padding: rem(12) rem(30);
  min-height: rem(64);
  line-height: rem(64);
  font-size: rem(28);
  display: block;
  color: #232323
}

.colorRed,
 .payList .colorRed {
  color: #e6133c;
  font-weight: 400
}

.payList li.orderbtn {
  float: none;
  overflow: hidden
}

.payList .orderbtn a {
  display: inline;
  float: right;
  padding: rem(6.4) rem(16);
  min-height: 0;
  line-height: normal
}

 .pic {
  z-index: 99
}

 .payList.return .payListTit2 {
  color: #232323
}

 .payList.return .time {
  clear: both;
  padding-left: rem(12)
}

 .payList.return .time p {
  color: #999;
  font-size: rem(24)
}

 .payList.return i {
  color: #232323
}

 .payList.return .orderbtn a {
  padding: rem(20)
}

 .empty {
  width: 80%;
  line-height: rem(190);
  margin: 0 auto;
  text-align: center;
  padding-top: rem(350);
  color: #494949;
  font-size: rem(34)
}

.orderEmpty {
  background: url(../i/empty-order.png) 50% 30% no-repeat;
  background-size: 30% auto
}

 .empty p {
  color: #a4a4a4;
  line-height: rem(34);
  font-size: rem(28);
  margin-top: rem(-60);
  margin-bottom: rem(48);
  overflow: visible
 }

 .empty a {
  display: block;
  text-align: center;
  border-radius: rem(8);
  background: hsla(0, 0%, 100%, .25);
  font-size: rem(30);
  font-weight: 400;
  color: #e6133c;
  margin: rem(12) auto 0;
  border: 1px solid #e6133c;
  width: rem(160);
  line-height: rem(64);
  padding: 0 rem(20)
 }
