/* creat by chenpeng */
@charset "utf-8";
@import "src/sass/tobe/function";

.floor-head{
  padding-top: rem(88);
}
.floor-head-ul{
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .floor-head-item{
    width: rem(166);
    text-align: center;
    line-height: rem(88);
    position: relative;
    &.is-selected{
      span:after{
        position: absolute;
        bottom: rem(-8);
        left: 0;
        right: 0;
        height: 2px;
        background-color: #4EA0A0;
      }
    }
    &:after{
      position: absolute;
      right: 0;
      top: rem(18);
      bottom: rem(18);
      width: 1px;
      background-color: #979797;
      content: '';
    }
    &:last-child:after{
      content: none;
    }
    span{
      font-size: rem(28);
      color: #333;
      position: relative;
    }
    &.is-selected{
      span:after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        height: rem(4);
      }
    }
  }
}

.rank-space{
  padding: rem(26) 0;
  background-color: #F7F7F7;
  text-align: center;
  font-size: rem(24);
  color: #9F9F9F;
  img{
    width: rem(405);
  }
}
