/* creat by chenpeng */
@charset "utf-8";
@import "src/sass/tobe/function";
.no-goods{
  text-align: center;
  margin-top: rem(20);
}
/*闪购新增角标*/
.quickbuy-log{
  position: absolute;
  top: 0;
  right: 0;
  width: rem(116);
  height: rem(116);
}
/* 头部 */
.new .product-filter {
  @include hairline(bottom, #e9e9e9);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 10;
  ul{
    height: rem(88);
  }
  ul li {
    @include flex(1);
    height: rem(88);
    .icon{
      display: block;
      width: rem(18);
      height: rem(18);
      color: #676767;
    }
    .flex-c-m{
      width: 90%;
      margin: 0 auto;
      height: rem(88);
      text-align: center;
      color: #676767;
      font-size: rem(30);
      .dropup{
        margin-left: rem(20)
      }
    }
    &.selected .flex-c-m{
      color: #e6133c;
      position: relative;

      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: rem(6);
        background-color: #e6133c;
      }
      &.seldown{
        .dropup .icon:last-child{
          color: #e6133c;
        }
      }
      &.selup{
        .dropup .icon:first-child{
          color: #e6133c;
        }
      }

    }
  }
}

/* 标题 */
.quickbuy-active{
  padding-top: rem(88);
  ul{
    height: rem(136*2);
  }
  li {
    position: relative;
    height: rem(136*2);
    margin-bottom: rem(10);
    a{
      display: block;
      height: 100%;
      img{
        height: 100%;
      }
    }
  }
  .quickbuy-active-titles {
    display: block;
    width: rem(316);
    height: rem(225);
    position: absolute;
    top: 50%;
    left: rem(20);
    text-align: center;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .active-store-logo {
    height: rem(50);
    background: #fff;
    opacity: .9;
    img {
      height: 100%!important;
      width: auto
    }
  }
}

.active-title-detail {
  height: rem(174);
  border: 2px solid #333;
  box-sizing: border-box;
  border-top: none;
  padding: 1px
}

.active-detail-container {
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  p {
    font-size: rem(24);
    padding-top: rem(8)
  }

  .discount-num {
    color: #f0c17f;
    label {
      font-size: rem(35);
      padding-bottom: rem(8)
    }
  }

  .discount-store-text {
    padding-top: rem(8);
    font-size: rem(20)
  }
}

/* 倒计时 */
.new .flashtitle {
  background: #fff;
  padding: 0 rem(12);
  border-top: 1px solid #fff;
  height: rem(92);
  line-height: rem(92);
  margin-top: 0;
  font-size: rem(32);
  position: relative;
  text-align: center;
  b {
    font-weight: 400;
    color: #000;
    font-style: normal;
  }
  .countdown{
    width: auto;
    display: inline-block;
    background: #ffffff;
    position: relative;
    padding: 0 rem(10);
  }
  .title-head {
    position: absolute;
    left: rem(4);
    right: rem(4);
    bottom: 0;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    margin: rem(42) 0;
  }
}

/* 商品列表 */
.new .index-productlist {
  margin: rem(6);
  overflow: hidden;
  li {
    width: 50%;
    float: left;
    a.end{
      filter: grayscale(20%);
      -webkit-filter: grayscale(20%);
      -moz-filter: grayscale(20%);
      &:after{
        content: "";
        display: block;
        background: hsla(0,0%,100%,.25);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
      }
      .endmark{
        display: block;
        background: rgba(0,0,0,.65);
        color: #fff;
        border-radius: 50%;
        height: rem(156);
        width: rem(156);
        line-height: rem(156);
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: rem(-78);
        top: 35%;
        margin-top: rem(-78);
        font-size: rem(32);
        font-weight: 700;
        z-index: 19;
      }
    }
    p {
      height: rem(64);
      line-height: rem(32);
      padding: rem(8) rem(15) rem(20);
      font-weight: 400;
      overflow: visible;
      margin-top: rem(12)
    }
    h3 {
      padding: 0 rem(20);
      margin: 0;
      height: rem(73);
      line-height: rem(38);
      font-size: rem(28);
      font-weight: 400;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      text-overflow: ellipsis
    }
    a {
      display: block;
      border: none;
      margin: rem(6);
      border-radius: rem(12);
      background: #fff;
      position: relative;
      overflow: hidden;
      .cost {
        font-size: rem(24);
        margin-left: rem(12);
        line-height: rem(44);
        color: #b5b5b5;
        text-decoration: none !important;
        white-space: nowrap;
        word-break: keep-all;
      }
      span {
        &.price {
          font-size: rem(32);
          color: #e6133c;
          font-weight: 300;
          line-height: rem(44);
          span{
            font-size: rem(24);
          }
        }
      }
      img {
        border-top-left-radius: rem(12);
        border-top-right-radius: rem(12)
      }
    }
  }
}

