@import "src/sass/tobe/function";

.section1 {
  margin-top: rem(44);
  padding: 0 rem(20);
}

.section1 li {
  font-size: rem(26);
  line-height: normal;
  padding: 0 rem(20);
  background: #fff;
  line-height: rem(88);
  border-bottom: 1px solid #e9e9e9;
  color: #ccc;
  position: relative;
}

.section1 ul {
  overflow: hidden;
  border-radius: rem(10);
  border: 1px solid #e9e9e9;
}

.section1 i {
  color: #9e9e9e;
  font-style: normal;
  float: right;
  padding:0 rem(3);
}

.modal-button {
  font-size :rem(100)
}

#left input {
  padding-left: 0;
}

input {
  width: 100%;
  padding-left: rem(55);
  border: 0;
}

.btn-confirm {
  width: 95%;
  margin-top: rem(25);
  height: rem(92);
}

.bl-button.disabled {
    color: #fff;
    background-color: #dddddd;
    border-color: transparent;
}

// .bl-button.primary {
//     color: #fff;
//     background-color: #F13149;
//     border-color: #aaaaaa;
// }

.cell-top li{
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.input { 
  padding: 5px; 
  margin: 0; 
  border: 1px 
  solid #beceeb;
}
.lock { 
  position: absolute; 
  font-size: rem(30);
  padding: rem(10);
  background: #ddd;
  border-radius: 50%;
  color: #aeaeae;
  left: rem(10);
  top: 50%;
  @include transform(translate(0, -50%));
}
.clear { 
  position: absolute; 
  font-size: rem(20);
  padding: rem(10);
  background: #ddd;
  border-radius: 50%;
  color: #fff;
  right: rem(20);
  top: 50%;
  @include transform(translate(0, -50%));
}
.input::-ms-clear { 
  display: none; 
}

.input:valid + .clear { display: inline; }

.middle {
  text-align: center;
  font-size: larger;
  padding: rem(30) 0;
}

.enterPw .low {
    background: #ff3135;
    border-color: #ff3135;
    color: #fff
}

.enterPw .med {
    background: #ffae2a;
    border-color: #ffae2a;
    color: #fff
}

.enterPw .str {
    background: #4ee920;
    border-color: #4ee920;
    color: #fff
}

.disabled {
    border: 1px solid #999;
    background: #fff;
    color: #999
}

.levels {
  text-align: right;
}

.passwordCheck span b {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .625rem;
    background: #fff;
    border: 1px solid #e9e9e9;
    margin-left: .375rem;
    color: #ccc;
    border-radius: .2rem
}

span b {
    display: inline-block;
    height: rem(50);
    line-height: rem(50);
    padding: 0 rem(10);
    background: #fff;
    border: 1px solid #e9e9e9;
    margin-left: rem(10);
    border-radius: rem(5);
}

.arrow-back {
  -webkit-transform:rotate(270deg);
  line-height: rem(88);
  font-size: rem(20);
  font-weight: bold;
}