@import "src/sass/tobe/function";

.btn-exit {
  width: 95%;
  margin-top: rem(45);
  height: rem(80);
  font-size: rem(28);
}

.section1 {
  margin-top: rem(20);
}
.dot-box{
  span.dot:last-child i{
    display: none;
  }
}

.list {
  background-color: #fff;
  li {
    font-size: rem(28);
    line-height: normal;
    padding: 0 rem(30);
    background: #fff;
    line-height: rem(88);
    border-bottom: 1px solid #e9e9e9;
    color: #343434;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .label-right{
      color: #9e9e9e;
    }
  }
  img {
    border-radius: 50%;
    float: right;
  }
}

.first {
  border-top: 1px solid #e9e9e9;
}

.list i {
  color: #9e9e9e;
  font-style: normal;
  float: right;
  padding:0 rem(3);
}

.arrow-back {
  -webkit-transform:rotate(180deg);
  line-height: rem(88);
  font-size: rem(20);
}

.head {
  line-height: rem(160);
}

.back-transition {
  transition: transform .5s ease;
}
.back-enter{
  transform: translate(100%,0);
}
.back-leave {
  transform: translate(-100%,0);
}

img {
  height: rem(160);
  width: rem(160);
  padding: rem(20);
}

b {
  float: right;
}

.up-img{
  position: relative;
  .up-files{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
  }
}
