@charset "utf-8";//cp
@import "src/sass/tobe/function";
#mc .list-block .item-content .item-inner .item-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.picker-items-col.picker-items-col-divider,
.picker-item,
#mc .list-block .item-content .item-media,
#mc .order-server-list .item-content .os-title,
#mc .os-detail,
#mc .between-list .item-content,
#mc .between-list .item-content .be-con,
#mc .between-list .item-content .be-title,
#mc .padding-list .item-content.end .lazy-box .over-end,
#mc .padding-list .item-content .pl-title,
.etbtn-group {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.new {
	// margin-top: rem(86.98);
}

.bgfa {
    background-color: #FAFAFA
}

#mc div {
    line-height: 1
}

#mc a {
    -webkit-tap-highlight-color: transparent
}

#mc .content {
    overflow: hidden
}

#mc .lazy-box {
    overflow: hidden
}

#mc .lazy-box.two:after {
    padding-top: 20%
}

#mc .switch>[type=checkbox] {
    opacity: 0;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%
}

#mc .list-block .item-content {
    background-color: #ffffff;
    padding-left: rem(9);
    overflow: hidden;
    // width: rem(694);
    // height: rem(166);
    // border-bottom: rem(4) solid #e9e9e9;
    border-bottom: rem(4) solid #e9e9e9;
    box-sizing: border-box;
}

#mc .list-block .item-content a {
    position: relative;
    display: block
}

#mc .list-block .item-content a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: rem(4);
    width: 100%;
    background-color: #E9E9E9;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #mc .list-block .item-content a:after {
        transform: scaleY(0.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #mc .list-block .item-content a:after {
        transform: scaleY(0.33)
    }
}

#mc .list-block .item-content a:after {
    left: rem(140)
}

#mc .list-block .item-content .item-media {
    width: rem(117);
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    height: rem(110);
    float: left;
    position: relative
}

#mc .list-block .item-content .item-media.red-cil:after {
    content: '';
    position: absolute;
    top: rem(0);
    right: rem(0);
    width: rem(32);
    height: rem(30);
    background-color: #E6133C;
    border: 3px solid #FFFFFF;
    border-radius: 50%
}

#mc .list-block .item-content .item-media img {
    width: rem(100);
}

#mc .list-block .item-content .item-inner {
    padding: rem(15) rem(20);
    overflow: hidden
}

#mc .list-block .item-content .item-inner .item-title-row {
    position: relative
}

#mc .list-block .item-content .item-inner .item-title-row .item-after {
    position: absolute;
    right: rem(-15);
    top: 0;
    font-size: rem(25);
    color: #999999;
    line-height: rem(20);
}

#mc .list-block .item-content .item-inner .item-subtitle {
    width: 100%;
    font-size: rem(25);
    font-family: "微软雅黑";
    color: #666666;
    margin-top: rem(20);
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1
}

#mc .list-block .item-content .item-inner .item-title {
    font-size: rem(30);
    color: #333333;
    font-weight: rem(300);
    font-family: "微软雅黑";
}

#mc .order-server-list {
    margin: rem(18) 0
}

#mc .order-server-list .item-content {
    margin-bottom: rem(18);
    background-color: #ffffff;
    position: relative;
    font-family: "微软雅黑";
    width: 100%;
    overflow: hidden;
}

#mc .order-server-list .item-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #E9E9E9;
    display: block;
    z-index: 15;
    transform-origin: 50% 0%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #mc .order-server-list .item-content:before {
        transform: scaleY(0.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #mc .order-server-list .item-content:before {
        transform: scaleY(0.33)
    }
}

#mc .order-server-list .item-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #E9E9E9;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #mc .order-server-list .item-content:after {
        transform: scaleY(0.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #mc .order-server-list .item-content:after {
        transform: scaleY(0.33)
    }
}

#mc .order-server-list .item-content .os-title {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    height: rem(70);
    padding: 0 rem(20)
}

#mc .order-server-list .item-content .os-t-left {
    font-size: rem(30);
    color: #333333
}

#mc .order-server-list .item-content .os-t-right {
    font-size: rem(22);
    color: #999999;
}

#mc .order-server-list .item-content .os-con {
    padding: rem(20);
    overflow: hidden;
    padding-top: 0
}

#mc .order-server-list .item-content .os-con-left {
    width: rem(80);
    height: rem(80);
    float: left;
    margin-right: rem(20)
}

#mc .order-server-list .item-content .os-con-left .lazy-box {
    background-size: contain
}

#mc .order-server-list .item-content .os-con-right {
	margin-top: rem(10);
    font-size: rem(25);
    color: #666666;
    line-height: rem(40);
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2
}

#mc .os-detail {
    padding: 0 rem(20);
    font-size: .875rem;
    color: #666666;
    height: rem(60);
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    border-top: none;
    background-image: linear-gradient(0deg, #E9E9E9, #E9E9E9 50%, transparent 50%);
    background-position: top;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% rem(5);
    background-origin: content-box;
    overflow: hidden;
}

#mc .os-detail a {
    font-size: rem(24);
    color: #666666;
    display: block;
    width: 100%
}

#mc .os-detail a,
#mc .arrow-right {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABOCAYAAABmKpU2AAAABGdBTUEAALGPC/xhBQAAAbhJREFUaAXV2m2qwjAQhWHrlu4vV6euzl93Tcq0tDS0zefMmTMBUWm072MNQvB2K4zP5/8lt8I0t8NT7sxL+Pe5zJnej8ffKzff49glII1f0/gQp4DzeE7EAZCP50MkgLp4LsQGaIvnQcyAvngOxDQW74+4rwlj99/n8kGMvUvPqxW+QvvT4n8nBhfxPn59jEVsADm9znqQd8IhEkBExAEQDXEKiIS4BERBZAEREEUAO6IKwIyoBrAimgCMiGYAG6ILwIToBrAghgAMiGGAN0IF4IlQA3ghVAEeCHUAGmECQCLMACiEKQCBMAdYIyAASwQMYIWAAiwQcIA2Qml3WrJ8BvwKaO+/QgHa8XLNYQCLeBjAKh4CsIw3B1jHmwIQ8WYAVLwJABmvDkDHqwI84tUAXvEqAM/4YYB3/BCAIb4bwBLfBWCKbwawxTcBGOOrAazxVQDm+CKAPT4LiBB/CYgSfwqIFH8ARItPABHjN0DU+BkQOV4ASrvTuD+6SvR+zHujY1fBL14g2+ZuH8I3PgHIkzaEf/wBUI/giD8FlBE88ZeAawRXfBZwRPDFS2NxyMJeFndxqsuEH4tPxqbFJk0FAAAAAElFTkSuQmCC') no-repeat right center;
    background-origin: content-box;
    background-size: auto rem(25)
}

#mc .between-list .item-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #E9E9E9;
    display: block;
    z-index: 15;
    transform-origin: 50% 0%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #mc .between-list .item-content:before {
        transform: scaleY(0.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #mc .between-list .item-content:before {
        transform: scaleY(0.33)
    }
}

#mc .between-list .item-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #E9E9E9;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #mc .between-list .item-content:after {
        transform: scaleY(0.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #mc .between-list .item-content:after {
        transform: scaleY(0.33)
    }
}

#mc .between-list .item-content .be-con,
#mc .between-list .item-content .be-title {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

#mc .between-list .item-content .be-title {
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column
}

#mc .padding-list .item-content.end .pl-t-left,
#mc .padding-list .item-content.end .con-detail {
    color: #999 !important
}

#mc .item-content.end .lazy-box:before {
    content: '';
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

#mc .item-content.end .lazy-box .over-end {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    font-size: rem(25);
    color: #FFFFFF;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#mc .item-content.end .lazy-box .over-end h2 {
    font-size: rem(30);
    color: #ffffff;
}

#mc .item-content.end .lazy-box .over-left,
#mc .item-content.end .lazy-box .over-right {
    width: rem(30);
    height: rem(70);
    border-width: rem(5) 0 rem(5) rem(5);
    border-color: #FFFFFF;
    border-style: solid;
    float: left;
}

#mc .item-content.end .lazy-box .over-right {
    border-width: rem(5) rem(5) rem(5) 0
}

#mc .item-content.end .lazy-box .over-con {
    margin: 0 rem(60);
    line-height: 1.2;
    float: left;
}

#mc .padding-list .item-content .over-end {
    display: none
}

#mc .swiper-owern {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    // -webkit-transform: translate(100%);
    // transform: translate(100%);
    font-size: 0;
    width: rem(236)
}

#mc .swiper-owern .vebtn {
    height: 100%;
    width: rem(118);
    background-color: #CCCCCC;
    font-size: rem(29);
    color: #FFFFFF;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    float: left;
}

#mc .swiper-owern .vebtn.remove-btn {
    background-color: #E6133C
}

#mc .swiper-owern .vebtn.back-btn {
    text-align: center;
    display: block;
}

.edit-time:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #E9E9E9;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .edit-time:after {
        transform: scaleY(0.5)
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .edit-time:after {
        transform: scaleY(0.33)
    }
}

.empty {
    width: 80%;
    line-height: rem(60);
    margin: 0 auto;
    text-align: center;
    color: #494949;
    padding-top: rem(288);
    font-size: rem(30);
}