@charset "utf-8";
@import "src/sass/tobe/function";
.bar.bar-dark {
      @include bar-style(#1C1B1F, #1C1B1F, #ffffff);
}
.bar.bar-light{
    background-color: #f5f5f5;
}
// .bar.bar-light .title{
//     color: #ffffff;
// }
.billList-wrap{
    .content{
        padding-top: rem(88);
    }
    .performance-li{
        background: #e7e7e7;
        overflow: hidden;
        li{
            width: 33.33%;
            float: left;
            height: rem(100);
            line-height: rem(100);
            text-align: center;
            color: #666666;
            font-size: rem(32);
        }
        .select{
            background: #ffffff;
            color: #4A90E2;
            border-top: rem(2) solid #4A90E2;
        }
    }
}
.product-filter{
    zoom: 1;
    padding: 0;
    position: relative;
    z-index: 10;
    .shadow-bg {
        height: rem(100);
        width: rem(60);
        position: absolute;
        right: rem(72);
        z-index: 1;
        background: -webkit-linear-gradient(left,rgba(62,163,255,0),rgba(62,163,255,1));
        background: -o-linear-gradient(right,rgba(62,163,255,0),rgba(62,163,255,1));
        background: -moz-linear-gradient(right,rgba(62,163,255,0),rgba(62,163,255,1));
        background: linear-gradient(to right, rgba(62,163,255,0), rgba(62,163,255,1));
    }
    a.more {
        display: block;
        float: right;
    }
    div.itemauto {
        overflow: auto;
        overflow-y: hidden;
        overflow-x: auto;
        height: rem(100);
        position: relative;
        ul{
            min-width: 100%;
            width: 300%;
            padding: 0;
            li{
                width: auto;
                padding: 0;
                float: left;
                box-sizing: border-box;
                a{
                    display: block;
                    margin: 0 auto;
                    height: rem(100);
                    text-align: center;
                    font-size: rem(32);
                    border: none;
                    width: auto;
                    padding: 0 rem(48);
                }
            }
        }
    }
}
.blue-bill-top {
    background: #3ea3ff;
    border: none;
    height: rem(100);
    a.bill-class-add {
        border: none;
        background: #3ea3ff;
        height: rem(100);
        line-height: rem(100);
        color: #fff;
        padding: 0 rem(30);
        box-shadow: none;
        text-align: right;
        font-size: rem(72);
    }
    div.itemauto {
        margin-right: rem(60);
        ul{
            li{
                height: rem(100);
                line-height: rem(100);
                a{
                    color: rgba(255,255,255,.6);
                    line-height: rem(100);
                }
            }
            .bill-select{
                border-bottom: 1px solid #fff;
            }
        }
    }
}
.blue-bill-center{
    background: #3ea3ff;
    text-align: center;
    padding: rem(126) 0;
    img{
        width: rem(194);
        height: rem(177);
        background-size: rem(194);
        margin-bottom: rem(58);
    }
    .fonts{
        color: #ffffff;
        font-size: rem(40)
    }
}
.morder-pay-cost {
    height: rem(120);
    line-height: rem(120);
    background: #fff;
    text-align: center;
    margin-bottom: rem(40);
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    font-size: rem(36);
    a{
    color: #3da3ff;
    }
}
//缴费首页
.bl-mywallet-hd{
    height: rem(230);
    background-color: #3ea3ff;
    text-align: center;
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
    .wallet-hd-cell{
        vertical-align: middle;
        display: table-cell;
        position: relative;
        .ss-icon{
            width: rem(34);
            height: rem(34);
            border-radius: 50%;
            background: #fb345b;
            position: absolute;
            line-height: rem(34);
            text-align: center;
            color: #ffffff;
            top: rem(20);
            left: rem(390);
        }
        .hd-cell-icon{
            width: rem(80);
            height: rem(80);
        }
        p{
            color: #fff;
            font-size: rem(32);
            margin-top: rem(24);
        }
    }
    .bill-index-line{
        background: inline-image("base64/bill-index-line.jpg") no-repeat right center;
        display: inline-block;
        background-size: rem(2);
        vertical-align: middle;
        display: table-cell;
    }
}
.bill-fonts{
    text-align: center;
    font-size: rem(24);
    color: #aeaeae;
    line-height: rem(100);
}
.topbg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    .scan{
        background: url(../i/index/billbg-2.png) no-repeat left top;
        float: right;
        width: rem(331);
        background-position: 0 rem(20);
        background-size: rem(331);
        position: absolute;;
        right: rem(230);
        top: rem(80);
    }
    .scan02{
        height: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bangding{
        background: url(../i/index/billbg-2.png) no-repeat rem(20) top;
        float: right;
        width: rem(302);
        background-position: 0 rem(20);
        background-size: rem(302);
        position: absolute;
        left: rem(30);
        top: rem(80);
    }
    .bangding02{
        height: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .know{
        position: absolute;
        top: rem(800);
        left: 50%;
        margin-left: rem(-180);
        width: rem(360);
        height: rem(120);
        background: url(../i/index/billbg-3.png) no-repeat center top;
        background-size: contain;
    }
}
