@import "src/sass/tobe/function";
/* 游戏充值 */

.gameWrap{
  color:#333;
  font-weight: 400;
  font-size: rem(30);
  ul{
    padding:0 rem(20);
    background-color: #fff;
    li{
      position: relative;
      height: rem(90);
      line-height: rem(90);
      border-bottom: 1px solid #ddd;
      &:last-child{
        border-bottom: none;
      }
      .more{
        position: absolute;
        top:rem(20);
        width: rem(50);
        right:rem(0);
      }
      .ganme-name, input{
        width: rem(550);
        background: transparent;
        border: none;
        padding-left: rem(20);
        color: #333;
        text-align: left;
        &.spe{
          margin-left:rem(30);
        }
      }
      div{
        width: rem(195);
        display: inline-block;
        border:1px solid #ddd;
        padding: 0 rem(20);
        line-height: rem(60);
        border-radius: rem(8);
        text-align: center;
        &:first-child{
          margin-left: rem(20);
        }
        &:last-child{
          margin-left: rem(10);
        }
        &.selected{
          border:1px solid #3ea2ff;
          color:#3ea2ff;
        }

      }
    }
  }
  .headMenu{
    border-bottom: 1px solid #ddd;
    ul{
      display: -webkit-flex;
      height: 100%;
      line-height: rem(90);
      li{
        -webkit-flex:1;
        text-align: center;
        border-bottom: none;
        &.selected{
          border-bottom: rem(5) solid #3ea2ff;
          color:#3ea2ff;
          font-weight: 800;
        }
      }
    }
  }
  .gameFir{
    border-bottom: 1px solid #ddd;
    li{

    }
    &.new{
      border-top:1px solid #ddd;
      margin-top: rem(20);
      li{
        border: none;
      }
    }
    &.top{
      border-top:1px solid #ddd;
      margin-top: rem(20);
    }
  }
}
.sort-list{
  width: 100%;
}

.limit-remind{
  margin-top: rem(20);
  .limit-text{
    float: left;
    font-size: rem(24);
    color: #999;
  }
}
