@import "src/sass/tobe/function";
/* 游戏充值 */

.gameWrap{
  bl-tab-container{
    height: rem(200);
    padding-top: rem(50);
  }
  bl-tab-container-item{
    width: rem(750);

  }
  color:#333;
  font-weight: 400;
  font-size: rem(30);
  ul{
    padding:0 rem(20);
    li{
      position: relative;
      height: rem(90);
      line-height: rem(90);
      border-bottom: rem(1.8) solid #ddd;
      &:last-child{
        border-bottom: none;
      }
      .more{
        position: absolute;
        top:rem(20);
        width: rem(50);
        right:rem(0);
      }
      input{
        width: rem(450);
        height: 80%;
        background: transparent;
        border: none;
        padding-left: rem(20);
        &.spe{
          margin-left:rem(30);
        }
      }
      div{
        width: rem(195);
        display: inline-block;
        border:rem(1.8) solid #ddd;
        height: rem(63);
        padding: 0 rem(20);
        line-height: rem(60);
        border-radius: rem(8);
        text-align: center;
        &:first-child{
          margin-left: rem(20);
        }
        &:last-child{
          margin-left: rem(10);
        }
        &.selected{
          border:rem(1.8) solid #3ea2ff;
          color:#3ea2ff;
        }

      }
    }
  }
  .headMenu{
    border-bottom: rem(1.8) solid #ddd;
    ul{
      display: -webkit-flex;
      height: 100%;
      line-height: rem(90);
      li{
        -webkit-flex:1;
        text-align: center;
        border-bottom: none;
        &.selected{
          border-bottom: rem(5) solid #3ea2ff;
          color:#3ea2ff;
          font-weight: 800;
        }
      }
    }
  }
  .gameFir{
    border-bottom: rem(1.8) solid #ddd;
    li{

    }
    &.new{
      border-top:rem(1.8) solid #ddd;
      margin-top: rem(20);
      li{
        border: none;
      }
    }
    &.top{
      border-top:rem(1.8) solid #ddd;
      margin-top: rem(20);
    }
  }
}
.phoneFixBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  p{
    height: rem(40);
    line-height: rem(40);
    font-size: rem(.75*31.25);
    color: #999999;
    margin-bottom: rem(.75*31.25);
    img{
      width: rem(0.875*31.25);
      margin-right: rem(.75*31.25);
      float: left;
      position: relative;
      top:rem(5);
    }
    padding-left: rem(30);
  }
}
.config-button-contain {
  background: #FFFFFF;
  padding: rem(0.625*31.25) rem(0.9375*31.25)
}
.edit-config-button {
  border-radius: rem(.375*31.25);
  color: #fff;
  background: #1e9cf1;
  text-align: center;
  height: rem(2.75*31.25);
  line-height: rem(2.75*31.25);
  width: 100%;
  border: 0;
}
