@import "src/sass/tobe/function";
.content{
  position: relative;
  padding-top: rem(88);
}


.pay_success{
  .margin-config{
    margin-bottom: rem(20);
  }
  .success-container{
    padding:0 rem(30);
    background: #FFFFFF;
    .head{
      height: rem(176);
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      color: #E6133C;
      font-size: rem(48);
      border-bottom: 1px solid #E7E7E7;
    }
    .success-logo{
      height: rem(96);
      width: rem(96);
      background: url("../i/icons/success.png") center center no-repeat;
      background-size: 100%;
      margin-right: rem(30);
    }
    .order-info{
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);
      height: rem(88);
      font-size: rem(28);
      border-bottom: 1px solid #E7E7E7;
    }
    .remind{
      padding: rem(14) 0;
      font-size: rem(24);
      color: #999999;
      border-bottom: 1px solid #E7E7E7;
    }
    .button-box{
      padding: rem(40) 0;
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);
      a{
        font-size: rem(32);
      }
      .left-button{
        height: rem(88);
        line-height: rem(88);
        width: rem(336);
        background: #E6133C;
        text-align: center;
        border-radius: rem(10);
        a{
          color: #FFFFFF;
        }
      }
      .right-button{
        height: rem(88);
        line-height: rem(88);
        width: rem(336);
        text-align: center;
        border: 1px solid #E7E7E7;
        border-radius: rem(10);
      }
    }
  }
}
