.phoneRechargeTitle {
    border-bottom: 1px solid #e7e7e7
}

.phoneRechargeTitle ul {
    padding: 0 .9375rem;
    font-size: 0
}

.phoneRechargeTitle ul li {
    width: 50%;
    display: inline-block;
    text-align: center
}

.phoneRechargeTitle ul a {
    display: block;
    line-height: 2.9375rem;
    font-size: 1rem;
    width: 100%;
    text-align: center
}

.phoneRechargeTitle ul a {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

.phoneRechargeTitle .curr a {
    border-bottom: 2px solid #3ea2ff;
    color: #3ea2ff;
    font-weight: 700
}
