.bill-histroy {
  padding: 0 .75rem
}

.normal-ul {
  background: #fff
}

.right-menu {
  position: fixed;
  right: 0;
  top: 15%
}

.right-menu li {
  font-size: .75rem;
  font-weight: 700
}

.game-name-tab,
.normal-ul-padding {
  padding: 0 .9375rem
}

.game-name-tab {
  height: 1.25rem;
  line-height: 1.25rem
}
