.bottom-margin-normal {
  margin-bottom: 0.625rem;
}
.normal-ul{
  background: #fff;
}
.bill-histroy {
    padding: 0 0.75rem;
}
.normal-ul li {
    border-bottom: 1px solid #E9E9E9;
    overflow: hidden;
}
.bill-histroy li {
    padding: 1.0625rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new .bill-pay-day {
    padding: 0 0.1875rem;
    color: #999999;
}

.new .bill-pay-money {
    font-weight: 700;
    font-size: .8125rem;
    min-width: 20%;
    text-align: right;
}

.new .bill-pay-stadius {
    font-size: .8125rem;
    min-width: 25%;
    text-align: right;
}

.new .font-color-red {
    color: #e6133c!important;
}

.img_icon {
    display: inline-block;
    width: .9375rem;
    height: .9375rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: .1875rem;
    vertical-align: top;
}
.new .bill-pay-stadius img {
    width: .75rem;
    height: .75rem;
    vertical-align: -.0625rem;
}

.bottom-margin-normal{
  margin-bottom: 0.625rem;
}
